<div fxLayout="row" fxLayoutAlign="space-around">
  <div *ngFor="let player of players" fxFlex="50%" fxLayout="column" fxLayoutGap="5%">
    <h1 fxLayout="row" fxLayoutAlign="center">{{player.name}}</h1>
    <div class="service-butons" fxLayout="row" fxLayoutAlign="space-around" *ngIf="player.isServing">
      <button mat-raised-button color="primary">Ace</button>
      <button mat-raised-button color="warn">Fault</button>
    </div>
    <div class="winner-button" fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button color="primary" >Winner</button>
    </div>
    <div class="error-buttons" fxLayout="row" fxLayoutAlign="space-around">
      <button mat-raised-button color="warn">Forced Error</button>
      <button mat-raised-button color="warn">Unforced Error</button>
    </div>
  </div>
</div>
