<div fxLayout="row" fxLayoutAlign="space-around">
  <div
    *ngFor="let player of currentMatch.players"
    fxFlex="50%"
    fxLayout="column"
    fxLayoutGap="5%"
  >
    <h1 fxLayout="row" fxLayoutAlign="center">{{ player.lastName }}</h1>
    <!-- <div
      class="service-butons"
      fxLayout="row"
      fxLayoutAlign="space-around"
      *ngIf="currentMatch.getCurrentServer().id === player.id"
    > -->
    <div
      class="service-butons"
      fxLayout="row"
      fxLayoutAlign="space-around"
      [ngClass]="{ hidden: currentMatch.getCurrentServer().id === player.id }"
    >
      <button mat-raised-button color="primary">Ace</button>
      <button mat-raised-button color="warn">Fault</button>
    </div>
    <div class="winner-button" fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="onWinPoint(player)">
        Winner
      </button>
    </div>
    <div class="error-buttons" fxLayout="row" fxLayoutAlign="space-around">
      <button mat-raised-button color="warn">Forced Error</button>
      <button mat-raised-button color="warn">Unforced Error</button>
    </div>
  </div>
</div>
