table {
  width: 100%;
  text-align: center;

  .mat-column-current-game {
    background-color: orange;
    color: white;
  }

  .mat-column-is-serving {
    width: 5%;
  }

  .mat-column-player-name,
  .mat-column-current-game {
    width: 20%;
  }

  .mat-cell {
    padding: 0;
  }
}
